@import url("https://fonts.googleapis.com/css2?family=Karantina&family=Zen+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap");

body {
  background-color: #f6f1eb;
  background-image: url(./assets/bg1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-family: "Fredoka One", cursive;
  font-weight: 800;
  font-size: 12em;
  width: 5em;
  line-height: 0.9em;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
.text {
  color: cadetblue;
}

/* navbar */
nav {
  height: 10vh;
}
.nav-item {
  color: #f6c11e;
  font-size: 25px;
  font-weight: 800;
  font-family: "Limelight", cursive;
}
.nav-item:hover {
  color: #b0d9df;
}
.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
.nav-links li a {
  color:#f6c11e;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

/* side navbar */
.sidenav {
  height: 40vh;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow-x: hidden;
  margin: 30vh 0;
}
.sidenav a {
  padding: 6px 6px 6px 32px;

  font-size: 25px;
  color: #e9412d;
  display: block;
}
.sidenav a:hover {
  color: #f3a67e;
}

/* name section css */
.intro {
   width: 70%;
  margin: auto;
}
.logo {
  width: 15%;
  position: absolute;
  top: 60%;
  right: 5%;
}
.logo {
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
  animation: swinging 3.5s ease-in-out forwards infinite;
}

.rainbow-text {
  font-family: "Limelight", cursive;
  margin: 100px;
  margin-right: -500px;
  background: #ca4246;
  background-color: #ca4246;
  background: conic-gradient(
    #b0d9df 16.666%,
    #f3a67e 16.666%,
    #f3a67e 33.333%,
    #f18f43 33.333%,
    #f18f43 50%,
    #a2c353 50%,
    #a2c353 66.666%,
    #f6c11e 66.666%,
    #a2c353 83.333%,
    #b0d9df 83.333%
  );
  background-size: 57%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-text-animation-rev 0.5s ease forwards;
  cursor: pointer;
}
.rainbow-text:hover {
  animation: rainbow-text-animation 0.5s ease forwards;
}




/*about section css*/
.about {
  background-color: #f6c11e;
  width: 100%;
  height: 600px;
}
.h1-animation {
  margin-bottom: 30px;
  text-align: center;
  font-size: 50px;
  background: -webkit-linear-gradient(transparent, transparent),
    url(https://raw.githubusercontent.com/IsmiAndhyka18/test-web/main/Untitled-1.png)
      repeat;
  background-size: 200px auto;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: background 10s infinite linear;
  font-family: "Fredoka One", cursive;
  letter-spacing: 0.1rem;
}
.p-about {
  font-size: 25px;
  text-align: center;
  color: #f6f1eb;
  width: 70%;
  margin: auto;
}
.about-content {
  margin: 80px auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.cv {
  background-color: coral;
}



/* porfolio section css */
.portfolio-grid {
  margin-top: -30px;
  background-color: #f6f1eb !important;
  height: 580px;
}
#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}
#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background-color: #a2c353;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}
#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content
  i {
  margin-top: -12px;
}
#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content
  h3,
#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content
  h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: white;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}
#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.btn-primary {
  background-color: #9fc253;
  border: 2px solid #9fc253;
  padding: 16px 30px;
  box-shadow: inset 0px 0px 0px 1px;
  border: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
  position: relative;
  letter-spacing: 0.05em;
  cursor: pointer;
  margin: auto;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: #f6c11e !important;
  border: 2px solid #f6c11e;
}

.project-title {
  font-family: "Poppins", sans-serif;
  color: #e9412d;
  font-size: 1.3em;
  font-weight: bold;
  padding: 10px 10px 20px 0px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.portfolio-modal {
  padding-right: 0px !important;
}
.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}
.portfolio-modal .modal-content {
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  font-size: 30px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f6c11e !important ;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
  float: right;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content button {
  cursor: pointer;
}
.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #be9c82;
}
.portfolio-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #be9c82;
}



/* contact section css  */
.contact {
  border-top: 1px solid #a7d7d9;
  background-color: #f6f1eb;
  background-image: url(./assets/bg1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20%;
}

.get-in-touch-animation {
  margin-bottom: 0;
}
.contact-info {
  color: #e9412d;
}
.contact-info i {
  color: #e9412d;
  margin: 0 0.5rem;
}
.contact-info p a {
  color: #e9412d;
}

/* arrow up css*/
.up-arrow-container {
  position: fixed;
  bottom: 20px;
  right: 20px;

  /* margin: 30px; */
}
.up-arrow-container i{
  font-size: 4rem;
  color: #e9412d;
}

